.theoryContainer {
    /* padding-left: 70px; */
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.theoryContainer .textbookContainer {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
}



.textbookCard {
    
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: solid 4px black;
    margin-bottom: 20px;
    border-radius: 10px;
    background-image: rgb(242, 234, 234);
    cursor: pointer;
    box-sizing: border-box;
}

.textbookCard:hover {
    filter: brightness(80%);
}


.textbookCard:hover .bookname {
    background-color: rgba(0, 0, 0, 0.8);
}

.textbookCard .bookname {
    margin: auto;
    position: absolute;
    background-color: rgba(0,0,0, 0.5);
    width: 95%;
    height: 120px;
    padding: 10px;
    color: white;
    font-size: 20px;   
    display: flex;
    justify-content:center;
}

.textbookCard img {

    border-radius: 8px;
    height: 42vh;
    width: 15vw;

}

.textbookCard button {
    flex-direction: row;
}

.textbookCard .bookname p {
    margin: auto;
    height: fit-content;

}

