.theoryPagContainer {
    background-color: rgb(218, 211, 211);
    height: 100vh;
}

.theoryPagContainer h1 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(146, 204, 220);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    text-shadow: 5px 5px #000000;
}

.theoryContainer {
    /* padding-left: 70px; */
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(218, 211, 211);
}

.theoryContainer .textbookContainer {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
}

.warningPopup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: none;
    box-sizing: content-box;
}

.warningPopup.show {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.warningPopup.show .confirmBox {
    padding: 50px;
    margin: auto;
    width: 50vw;
    height: 40vh;
    background-color: rgba(210, 194, 194, 0.8);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 1s ease;
    position: relative;

}

.confirmBox .buttonField {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.confirmBox .buttonField button {
    margin: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        top: -200px;
    }

    to {
        opacity: 1;
        top: 0px;
    }
}

.textbookCard {
    
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: solid 4px black;
    margin-bottom: 20px;
    border-radius: 10px;
    background-image: rgb(242, 234, 234);
    cursor: pointer;
    box-sizing: border-box;
}

.textbookCard:hover {
    filter: brightness(80%);
}


.textbookCard:hover .bookname {
    background-color: rgba(0, 0, 0, 0.8);
}

.textbookCard .bookname {
    margin: auto;
    position: absolute;
    background-color: rgba(0,0,0, 0.5);
    width: 95%;
    height: 120px;
    padding: 10px;
    color: white;
    font-size: 20px;   
    display: flex;
    justify-content:center;
}

.textbookCard img {

    border-radius: 8px;
    height: 42vh;
    width: 15vw;

}

.textbookCard button {
    flex-direction: row;
}

.textbookCard .bookname p {
    margin: auto;
    height: fit-content;

}

.textbookCard .btn.btn-danger {
    position: absolute;
    top: 0;
    right: 0;
}

