.loginBackground {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
}

.loginFormContainer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: fit-content;
    width: 40vw;;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.loginFormContainer h1 {
    margin-bottom: 20px;
}

.loginFormContainer input {
    margin-bottom: 10px;
}
.formLabel {
    float: left;
    text-align: left;
    display: block;
    font-size: 20px;
}

.formInput {
    padding: 5px;
    display: block;
    height: 40px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}

@keyframes loginModalFadeIn {
    from {
        
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loginButtonPopup {
    color: white;
    font-size: 20px;
    height: 50px;
    width: 103.5%;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(to right, purple, blue);
    margin-top: 20px; 
    margin-bottom: 20px;

}

.loginButtonPopup:hover {
    opacity:0.8
}

a {
    text-decoration: none;
    color: rgb(105, 196, 235);
    
}

a:visited{
    text-decoration: none;
    color: rgb(105, 196, 235)
}

.registration {
    margin-top: 10px;
    font-size: 20px;
}