.navbarContainer {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}


#nav {
    margin-top: 0;
    display: inline-block;
    padding: 0;
}

#nav ul {
    padding: 0;
    margin: 0;
    
}

#nav,
.subnav {
    list-style-type: none;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav li a {
    color: white;
    padding: 0 20px;
    font-size: 15px;
    line-height: 46px;
    padding: 15.5px 24px;
    cursor: pointer;
}

#nav .subnav {
    position: absolute;
    background-color: white;
    box-shadow: 10px 10px 50px 10px rgba(0, 0, 0, 0.5);
}

#nav .subnav a {
    padding: 0px 24px;
    min-width: 100px;
    width: fit-content;
    color: black;
    display: block;
    box-sizing: content-box;
}

.subnav ul {
    padding: 0;
    min-width: 100px;
}

#nav .subnav li {
  
    width: 254px;
}


#nav .subnav li:hover,
#nav>li:hover {
    background-color: rgb(223, 216, 216);
    color: black;
}


.loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 35px;
    margin: 6px 10px 0 0;
    color: white;
    background-color: hsl(206, 100%, 52%);
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
}


.userWelcome {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 35px;
    margin: 6px 10px 0 0;
    color: white;

    width: fit-content;
    border-radius: 8px;
}

.loginButton:hover {
    background-color: hsl(206, 100%, 40%);
}

.signupButton {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 35px;
    margin: 6px 10px 0 0;
    color: black;
    background-color: hsl(203, 17%, 85%);
    width: 80px;
    border-radius: 8px;
    cursor: pointer;
}

.signupButton a {
    color: black;
}

.signupButton:hover {
    background-color: hsl(206, 7%, 44%);
}