.section {
    /* padding-left: 70px; */
    display: flex;
    flex-direction: row;
    grid-template-columns: auto auto auto auto;
    margin-left: 100px;
    overflow: hidden;
    justify-content: space-between;
}

.section h3 {
    font-weight: bold;
    color: rgb(25, 25, 96);
}

.section > a {
    width: fit-content;
    color: black;
}

.section > .collapse {
    width: 90vw;
 
}

.section img {
    height: 120vh;
    object-fit: contain;
    margin-right: 50px;
}

.section .collapse.show {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.collapse.show a {
    color: black;
}

.sectionCard {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 10px;
    background-image: linear-gradient(purple, rgb(32, 32, 127));
    cursor: pointer;
}

.sectionCard :hover {
    opacity: 0.5;
}

.sectionCard p {
    padding: 20px;
    color: wheat;
    font-size: 25px;
}

.sectionCard img {

    height: 50vh;
}

.sectionCard button {
    flex-direction: row;
}


.lessonSection {
    display: flex;
    flex-direction: column;
}