.section {
    /* padding-left: 70px; */
    display: flex;
        flex-direction: column;
    grid-template-columns: auto auto auto auto;
}

.section > a {
    width: fit-content;
    color: black;
}

.section > .collapse {
    width: 90vw;
 
}

.sectionCard {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: fit-content;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    border-radius: 10px;
    background-image: linear-gradient(purple, rgb(32, 32, 127));
    cursor: pointer;
}

.sectionCard :hover {
    opacity: 0.5;
}

.sectionCard p {
    padding: 20px;
    color: wheat;
    font-size: 25px;
}

.sectionCard img {
    width: 20vw;
}

.sectionCard button {
    flex-direction: row;
}
